{% extends 'layout.html.twig' %}

{% block title %}New Boardgame{% endblock %}

{% block container %}
    <h1>Create new Boardgame</h1>
    <a class="btn btn-dark my-4" href="{{ path('boardgame_index') }}">RETOUR</a>

    {{ include('boardgame/_form.html.twig') }}

{% endblock %}
