{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Menu latéral gauche -->
        <div class="col col-sm-3">
            <h4>Menu</h4>
            <a href="{{ path('boardgame_index') }}">Gestion des jeux de société</a>
        </div>
        <!-- Contenu de droite -->
        <div class="col col-sm-8">
            {% block container %}
            <h1>Bienvenue {{ app.user.username }}</h1>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}